NEXT_PUBLIC_PROJECT_ID= // https://cloud.walletconnect.com 에서 프로젝트 생성

POSTGRES_URL= // Vercel Storage Postgres Database
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

BLOB_READ_WRITE_TOKEN= // Vercel Storage Blob Store

NFT_STORAGE_API_KEY= // https://nft.storage/ 에서 API 키 생성

NEXT_PUBLIC_WALLET_ADDRESS=
NEXT_PUBLIC_DEPLOYING_ADDRESS=
NEXT_PUBLIC_CONTRACT_ADDRESS= // NFT 컨트랙트 주소

API_URL= // alchemy dashboard에서 생성
NEXT_PUBLIC_ALCHEMY_API_KEY="" // alchemy dashboard에서 생성

NEXT_PUBLIC_DOMAIN=https://2023-hanyang-graduation-project.vercel.app // vercel domain

PRIVATE_KEY= // wallet private key
